---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/research/">Research</a>

		<h1>About Me</h1>
        <p>I am a master's student majoring in physical oceanography. I'm passionate about technical 
            issues in oceanic and atmospheric research, including inverse problems, modeling and data 
            assimilation. I have general interests in short-term sea-air processes (e.g., 
            tropical cyclones, ocean mixing and storm surges) and I'm still trying to figure out my 
            major interest. It's my goal to apply and develop advanced methods (e.g., machine learning) 
            for ocean-related hazard forecasting and become an cross-disciplinary researcher.
        </p>

        <p>Besides scientific research, I'm an amateur guitar player, a song writer and a game developer.
            Maybe one day I'll produce my own album and publish my game. I'll definitely own 2 cats in 
            the future when I am settled down. Before that, I consider myself as a world traveller.
        </p>
	</body>
</html>
